.judul{
        text-align: center;
        }

.container table, th, td{
    border-collapse: collapse;
    width: 27%;
    padding: 4px;
    text-align: center;
}

    th{
       background-color: turquoise;

    }

    tr:nth-child(even) {
        background-color:plum;
    }
